<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- <script src="./js/client-app.js"></script> --}}
</head>
    <body>
       <div class="main-content">
            <p>{{>header}}</p>
        {{!-- <h1>{{title}}</h1> --}}
        <p>This site was created by Pratham Sapkota. The data were fetched from open weather map.</p>
        <img src="/img/pratham.jpg" alt="author" class="potrait">
       </div>
        <p>{{>footer}}</p>
    </body>

</html>