<!DOCTYPE html>
<html>
<head>
    <title>Error!</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/client-app.js"></script>
</head>
    <body>
        <p>{{>header}}</p>
        <p>{{>footer}}</p>
        <p>{{errorMessage}}</p>
       
    </body>

</html>